    <%- include('head') %>
    <body>
        <div class="wholecontainer">
            <%- include('navbar') %>
            <div class="container">
                <% if(path === '/logout') { %>
                    <%- include('home') %>
                <% } else { %>
                    <%- include(path) %>
                <% } %>
    
            </div>

        </div>
        
    </body>
    </html>