<title>Movie - Login</title>

<div class="login">
  <h1>Login</h1>
  <form action="/login" method="post">
    <input id="id" name="id" type="text" placeholder="아이디" /><br />
    <input
      style="margin-top: 10px"
      id="password"
      name="password"
      type="text"
      placeholder="비밀번호"
    /><br />
    <button type="submit" value="로그인">로그인</button>
  </form>
</div>
