<title>Movie - Modify</title>

<div class="modify">
  <h1>Modify</h1>
  <form action="/modify" method="post">
    phone : <input type="text" name="phone" /> <br />
    email : <input type="email" name="email" /> <br />
    password : <input type="password" name="password" required /> <br />
    <button type="submit">수정하기</button>
  </form>
</div>
