<title>Movie - Mypage</title>

<div class="mypage">
  <h1>mypage</h1>
  <span>id : <%= session.id %></span> <br />
  <span>password : <%= session.passward %></span> <br />
  <span>phone : <%= session.phone %></span> <br />
  <span>email : <%= session.email %></span> <br />
  <a href="/modify"><button>수정하기</button></a>
</div>
