<nav>
  <a href="/"><h1>MOVIE</h1></a>
  <div class="menu">
    <a href="/search_movie">영화 검색</a>
    <a href="/board">자유게시판</a>
    <% if(!session) { %>
    <a href="/login">로그인</a>
    <a href="/register">회원가입</a>
    <% } else { %>
    <a href="/mypage">내 정보</a>
    <a href="/logout">로그아웃</a>
    <% } %>
  </div>
</nav>
