<nav>
  <a href="/"><h1>MOVIE</h1></a>
  <ul class="menu">
    <li><a id="search_movie" href="/search_movie">영화 검색</a></li>
    <li><a id="4" href="/board">자유게시판</a></li>
    <% if(!session) { %>
    <li><a id="5" href="/login">로그인</a></li>
    <li><a id="6" href="/register">회원가입</a></li>
    <% } else { %>
    <li><a id="7" href="/logout">로그아웃</a></li>
    <% } %>
    <!-- <p>세션 X</p>
    <p>세션 O</p> -->
    <!-- <li id = "profile_box">
            <div class="box">   
                <a href="/"><img class="profile" src="../img/test.png" /></a>
            </div>
        </li> -->
  </ul>
</nav>
