<title>Movie - Register</title>

<h1>Register</h1>
<div class="register">
  <form method="POST" action="/register">
    <input id="id" name="id" type="text" placeholder="아이디" /><br />
    <input
      id="password"
      name="password"
      type="text"
      placeholder="비밀번호"
    /><br />
    <input
      id="phone"
      name="phone"
      tybe="text"
      placeholder="핸드폰 전번"
    /><br />
    <input
      id="email"
      name="email"
      type="email"
      placeholder="example@example.com"
    /><br />

    <input type="checkbox" name="check" value="action" required />액션 영화<br />
    <input type="checkbox" name="check" value="crime" />범죄 영화<br />
    <input type="checkbox" name="check" value="SF" />SF 영화<br />
    <input type="checkbox" name="check" value="comedy" />코미디 영화<br />
    <input type="checkbox" name="check" value="romance" />로맨스 코미디<br />
    <input type="checkbox" name="check" value="thriller" />스릴러 영화<br />
    <input type="checkbox" name="check" value="horror" />공포 영화<br />
    <input type="checkbox" name="check" value="war" />전쟁 영화<br />
    <input type="checkbox" name="check" value="sports" />스포츠 영화<br />
    <input type="checkbox" name="check" value="fantasy" />판타지 영화<br />
    <input type="checkbox" name="check" value="music" />음악 영화<br />
    <input type="checkbox" name="check" value="musical" />뮤지컬 영화<br />
    <input type="checkbox" name="check" value="melodramatic" />멜로 영화<br />
    <button type="submit">회원가입</button>
  </form>
</div>
