<title>Movie - Write</title>

<h1>write</h1>

<div class="write">
  <form method="POST" action="/board">
    <input name="title" type="text" placeholder="제목" /><br />
    <textarea name="content" placeholder="내용"></textarea> <br />
    <input name="link" tybe="text" placeholder="링크" /><br />

    <button type="submit">쓰기</button>
  </form>
</div>
